body {
	font-family:Arial, sans-serif;
	color:#000090;
}
.xl119 {
    border: 2pt solid #000;
    border-bottom: 1.0pt solid #000;
}

.xl127, .xl80 {
    border: 1.0pt solid #000;
    background: #A2BD90;
    text-align: center;
}

.xl78 {
	border-top: 1.0pt solid #000;
	border-bottom:1.0pt solid #000;
}

.xl136 {
    border: 2.0pt solid #000 !important;
    background: #A2BD90;
    text-align: center;
    font-weight: bold;
}
